*{
	margin: 0;
	padding: 0;
}
ul,li {
	list-style:  none;
}
a {
	text-decoration:  none;
	color: #fff;
}
img {
	display: block;
	border: none;
}
.clearfix {
    display: none;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.top {
	width: 100%;
	height: 80px;
	background: #f9264f;
}
.container {
    width: 1186px;
    margin: 0 auto;
    position: relative;
}
.top i {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	font-size: 16px;
	background: rgb(45,45,45);
	opacity: .4;
	color: #fff;
	line-height: 20px;
	text-align: center;
}
.header {
	background: #e3e4e5;
	height: 30px;
	line-height: 30px;
}
.header .container .location {
	margin-left: 20px;
}
.header .container .location li {
	position: relative;
}
.header .container .location li:hover .dropdown-location {
	display: block;
}
.dropdown-location {
	position: absolute;
	width: 320px;
	border: 1px solid gray;
	display: none;
}
.dropdown-location .item-a {
	width: 40px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 10px;
	float: left;
	font-size: 12px;
	color: #222;
}

.activing {
	background-color: #f10215;
	color: #fff;
}

.dropdown-location .item-a:hover {
    background: #999;
    color: #f10215;
}
.header .container .second li {
     padding: 0 7px;
     float: left;
}
.header .container .second li a {
     color: #999;
}
.header .container .second li a:hover{
     color: #f10215;
}
.second li .active {
	position: relative;
}
.second  .dropdown {
	position: absolute;
	width: 280px;
	border: 1px solid gray;
	display: none;
}
.dropdown li {
	width: 120px;
	color: #999;
}
.dropdown li:hover{
	color: #f10215;
}
.dropdown .bd {
	width: 100%;
	height: 1px;
	background: #999;
}
.second .active:hover .dropdown {
   display: block;
   z-index: 999;
   background: #fff;
}
.dropdown-service {
	position: absolute;
	right: 210px;
	width: 170px;
}
.second .active:hover .dropdown-service{
	display: block;
	 z-index: 999;
	 background: #fff;
}
.dropdown-service {
	display: none;
}
.dropdown-service ul {
	width: 210px;

}
.dropdown-service  .service ul li {
	float: left;
	width: 80px;
}
.dropdown-service .bd {
	width: 100%;
	height: 1px;
	float: left;
	margin: 20px 0;
	background: #ccc;
}
.mobile-jd {
	position: relative;
}
.mobile-jd:after {
	content: '';
	border-bottom: 7px solid #fff; 
    border-left: 7px solid transparent; 
    border-right: 7px solid  transparent;
    position: absolute;
    bottom: 0;
    left: 45%;
}
.mobile-jd .photo {
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border: 1px solid #444;
	margin-left: 4px
}

.mobile-jd .photo img {
    width: 100px;
	height: 100px;
}
.mobile-jd .photos{
	display: none;
	position: absolute;
	width: 260px;
	height: 500px;
	border: 1px solid gray;
	background: white;
	top: 30px;
	right: 0px;
	z-index: 3;
}
.mobile-jd .text {
	width: 120px;
	margin: 20px 10px;
}
.mobile-jd:hover .photos {
	display: block;
	background: #fff;
	z-index: 999;
}
 .header .img2 img {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 30px;
	right: 0;
}
.content {
	margin-top: 140px;
}
.sub {
	width: 190px;
	background: #6e6568;
}
.sub li {

    padding-left: 12px;
    height: 28px;
    line-height: 28px;
}
.sub li:hover {
    background: #ccc;
}
.sub li a:hover {
    background: #ccc;
    color:  #f10215;
}
.sub .cate_menu li span {
	color: #ccc;
}
.cate {
	display: none;
}
.welcome {
	width: 200px;
	height: 480px;
	border: 1px solid #eee;
}
.user {
	margin: 8px;
}
.user .user-img img {
	width: 40px;
	height: 40px;
	display: block;
    margin: 5px;
    border-radius: 23px;
}
  .user-login,.user-reg {
	color: #f10215;
}
.user-reg {
	margin-left: 6px;
}
.user-profit {
	margin-top: 70px;
	text-align: center;
}
.user-profit a {
	width: 70px;
    height: 20px;
    padding: 4px 8px;
    margin-right: 10px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222;
}
.user-profit a:hover {
	background: #e01222;
	color: #fff;
}
.slide {
     border-top: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     margin-top: 30px;
     position: relative;
     outline: none;
}
.slide .news-list {
	position: absolute;
	margin-top: 20px;
	height: 160px;
	width: 200px;
	
}
.slide .news a {
	display: inline-block;
	color: #111;
	padding: 10px 0;
	margin: 0 10px;
}
.slide .news-list {
	margin-top: -4px;

}
.news-list .news-item ul {
	margin-top: -30px;
}

.news-list .news-item2 {
	display: none;
}

.news-list .news-item li {
	line-height: 24px;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.news-list .news-item {
	position: absolute;
	top: 40px;
	left: 10px;
}

.slide .news a:last-child:hover {
    color: #f10215;
}
.slide .news-list a {
	color: #111;
}
.welcome .activity {
	position: absolute;
    margin-top: 100px;
    width: 200px;
}
.activity ul {
	margin: 10px 16px;
}
.activity li {
	border: 1px solid gray;
	text-align: center;
	padding: 2px;
}
.activity a {
	 color: #111;
}
.activity a span {
	font-size: 24px;
	display: inline-block;

}


.carousel {
	margin-left: 200px;
	position: relative;
	width: 780px;
	height: 340px;
	z-index: 2;
}
.carousel-panel {
	position: absolute;
	top: 0;
	display: block;
}
.carousel-panel img {
	width: 780px;
	height: 340px;
}

.carousel-nav {
	position: absolute;
	left: 270px;
	bottom: 20px;
	width: 240px;
	height: 30px;
	border-radius: 10px;
	background: #333 ;
	opacity: .5;
}
.carousel-nav li {
	width: 10px;
	height: 10px;
	float: left;
	line-height: 30px;
	margin: 10px;
	border-radius: 100%;
	background: #fff;
}
.carousel-nav .carousel-item:hover {
	background: #db192a;
}
 .carousel-page a{
   background: rgba(0, 0, 0, 0.2);
   text-align: center;
   color: #fff;
   text-decoration: block;
   display: none;
   font-size: 22px;
   width: 28px;
   height: 50px;
   line-height: 50px;
   margin-top: -25px;
   position: absolute;
   top: 50%;
}

 .carousel-nav .carousel-on {
	background: red;
}
 .carousel-page .carousel-pre {
      left: 0;
      margin-left: 40px;
 }
  .carousel-page .carousel-next {
      right: 0;
      margin-right: 40px;
 }
 .banner {
 	margin-left: 200px;
 	height: 124px;
 }
 .banner img {
 	width: 385px;
 	height: 124px;
 }
  .banner .fl {
  	margin-top: 10px;
  }
    .banner .fl:last-child {
  	margin-left: 10px;
  }

.cate_part_col1 {
	margin-left: 20px;
	height: 300px;
	margin-top: 10px;
}
.cate_part_col1 a {
	width: 120px;
	background: #6e6568;
	color: #fff;

}
.cate_channel {
    margin: 10px;
}
.subnav {
	position: fixed;
	top: 200px;
	right: 10px;
	width: 40px;
	z-index: 999;
}
.subnav .nav {
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: #ccc;
	margin-top: 4px;
	position: relative;
}
.subnav .nav span {
	font-size: 36px;
	color: #fff;
}
.subnav .nav span:hover {
	background: #c81632;

}
.subnav .nav p {
	display: none;
	text-align: center;
	line-height: 40px;
}
.subnav .nav:hover p{
	display: block;
	color: #fff;
}
.subnav2 {
	position: fixed;
	bottom: 100px;
	right: 10px;
	width: 40px;
	z-index: 999;
}
.subnav2 .nav {
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: #ccc;
	margin-top: 4px;
	position: relative;
}
.subnav2 .nav span {
	font-size: 36px;
	color: #fff;
}
.subnav2 .nav span:hover {
	background: #c81632;

}
.subnav2 .nav p {
	display: none;
	text-align: center;
	line-height: 40px;
}
.subnav2 .nav:hover p{
	display: block;
	color: #fff;
}
.form {
	position: absolute;
	top: -80px;
	left: 250px;
}

.hotwords {
	width: 460px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.hotwords a {
	color: #ccc;
	display: inline-block;
	vertical-align: center;
	padding: 6px;


}
.search input {
	width: 400px;
	height: 35px;
}
.search input:focus{
	outline: none;
}
.search .text {
	left: 0;
    padding: 4px;
    width: 490px;
    height: 25px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.search .button {
	color: #fff;
	position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;

}
.search span {
	position: absolute;
    right: 65px;
    top: 10px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}
.shopping {
	position: absolute;
	top: -80px;
	right: 200px;
	border: 1px solid #ccc;
	color: #f10215;
	text-align: center;
	width: 210px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.shopping i {
	margin: 4px 10px;
	font-size: 24px;
}
.shopping a {
	color: #f10215;
	margin-right: 10px;
}
.shopping span {
	display: block;
    width: 20px;
	height: 30px;
	color: #fff;
	background: #f10215;
	border-radius: 100%;
}
